# Python
__pycache__/
*.py[cod]
*.pyc

# Virtual Environment
.venv/
venv/

# Environment Variables
.env

# Upload folder
backend/uploads/

# macOS
.DS_Store

node_modules/
frontend/node_modules/
frontend/dist/
EOF