fastapi
uvicorn[standard]
opencv-python
mediapipe
numpy
pandas
scikit-learn
xgboost
sqlalchemy
psycopg2-binary
python-jose[cryptography]
passlib[bcrypt]
python-multipart
python-dotenv
email-validator
